<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="{{ path('homepage') }}">{{ 'Home' | trans }}</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Gene Splicing</a></li>
        <li>
            <span class="show-for-sr">Current: </span> Cloning
        </li>
    </ul>
</nav>
