<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block page_title %}{{ page_title | default('Admin') }}{% endblock %}</title>

    {% block css %}
    <link href="/dist/css/external.css" rel="stylesheet">
    <link href="/dist/css/bundle.css" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block body_container %}

    {% block body %}
    {% endblock %}

{% endblock %}

{% block js %}
<script src="/dist/js/external.js"></script>
<script src="/dist/js/bundle.js"></script>
{% endblock %}

</body>
</html>
