<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block page_title %}{{ page_title | default('Admin') }}{% endblock %}</title>

    {% block css %}
        <link href="/dist/css/external.css" rel="stylesheet">
        <link href="/dist/css/bundle.css" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block body_header %}
{% include 'AppBundle:_layout:top-bar.html.twig' %}
{% endblock %}

{% block body_container %}

    <div class="main-container">
        <div class="column small-4 medium-3 large-2 sidebar">
            {% include 'KisphpNewsletterBundle:partials:sidebar.html.twig' %}
        </div>
        <div class="column small-8 medium-9 large-10" id="map-container">
            <div class="desp d15"></div>

            <nav aria-label="{{ 'You are here:' | trans }}" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="{{ path('homepage') }}">{{ 'Homepage' | trans }}</a></li>
                    {% block breadcrumb %}
                    {#<li><a href="#">Features</a></li>#}
                    {% endblock %}
                    {#<li><a href="#">Gene Splicing</a></li>#}
                    {#<li>#}
                        {#<span class="show-for-sr">Current: </span> Cloning#}
                    {#</li>#}
                </ul>
            </nav>


            {% block body %}
                {#{% include 'IfindBundle:partials:map.html.twig' %}#}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/dist/js/external.js"></script>
    <script src="/dist/js/bundle.js"></script>
{% endblock %}

</body>
</html>
