<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block page_title %}{{ page_title | default('Admin') }}{% endblock %}</title>

    {% block css %}
        <link href="/dist/css/external.css" rel="stylesheet">
        <link href="/dist/css/bundle.css" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block body_header %}
{% include 'AppBundle:_layout:top-bar.html.twig' %}
{% endblock %}

{% block body_container %}

    <div class="main-container">
        <div class="column small-4 medium-3 large-2 sidebar">
            {% include 'KisphpNewsletterBundle:partials:sidebar.html.twig' %}
        </div>
        <div class="column small-8 medium-9 large-10" id="map-container">
            <div class="desp d15"></div>

            {% include 'AppBundle:_layout:breadcrumb.html.twig' %}

            {% for i in 1..3 %}
            <div class="panel">
                <div class="panel-title">
                    <a href="">Panel title</a>
                </div>
                <div class="panel-body">
                    Panel body
                </div>
            </div>
            {% endfor %}

            {#<ul class="tabs" data-tabs id="example-tabs">#}
                {#<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>#}
            {#</ul>#}
            {#<div class="tabs-content" data-tabs-content="example-tabs">#}
                {#<div class="tabs-panel is-active" id="panel1">#}
                    {#<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>#}
                {#</div>#}
            {#</div>#}


            {% block body %}
                {#{% include 'IfindBundle:partials:map.html.twig' %}#}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/dist/js/external.js"></script>
    <script src="/dist/js/bundle.js"></script>
{% endblock %}

</body>
</html>
