{% set route = app.request.attributes.get('_route') %}
<ul class="vertical accordion-menu menu" data-accordion-menu>
    <li{% if match('newsletters', route) %} class="active"{% endif %}><a href="{{ path('newsletters') }}"><i class="fa fa-list"></i> {{ 'Newsletters' | trans }}</a></li>
    <li{% if match('subscribers', route) %} class="active"{% endif %}><a href="{{ path('subscribers') }}"><i class="fa fa-users"></i> {{ 'Subscribers' | trans }}</a></li>
</ul>
